* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    font-family: 'Poppins', san-serif;
    }
    .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    
    }
    nav{
    flex: 1;
    text-align: right;
    }
   
    nav ul {
    display: inline-block;
    list-style-type: none; 
    padding: 0;
    margin: 0;
    }
    nav ul li {
    display: inline-block;
    margin-right: 20px;

    }
    a {
    text-decoration: none;
    color: #555
    }
    nav ul li a:hover {
        color: blue; 
      }
    p {
    color: #555;
    }
    .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    }
    .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    .col-2{
    flex-basis: 50;
    min-width: 300px;
    }
    .col-2 img {
    max-width: 100px;
    padding: 50px 0;
    }
    .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    }
    .btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0; 
    border-radius: 30px;
    
    } 
    .btn:hover {
    background: #d64949;
    }
    .header {
    background: radial-gradient(#fff, #ffd6d6);
    }
    .header .row {
    margin-top: 70px;
    }
   

    .categories {
    margin: 70px;
    }
    .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    }
    .col-3 img {
    width: 100%;
    }
    .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    }
    .col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    }
    .col-4 img {
    width: 100%;
    }
    .title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    }
    .title::after {
    content: ' ';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    }
    h4 {
    color: #555;
    font-weight: bold;
    }
    .col-4 p {
    font-size: 14px;
    }
    .rating .fa {
    color: #f3614e;
    }
    .col-4:hover {
    transform: translateY(-5px);
    }
    
  /* add to cart*/

    .add-to-cart-btn {
    background-color: #4CAF50;
    display: inline-block;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    }
    
    .add-to-cart-btn:hover {
        background-color: #154918;
    }

    /* logistics */
.logistics {
    background-color:#fff;
    padding: 50px 0;
}

.logistics .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.logistics h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.logistics .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logistics .col-3 {
    flex: 1;
    padding: 0 20px;
}

.logistics i {
    font-size: 3rem;
    color: #f3614e;
    margin-bottom: 20px;
}

.logistics h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.logistics p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

/* customer services  */
.customer-services {
    background-color: #fff;
    padding: 50px 0;
}

.customer-services .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.customer-services h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.customer-services .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-services .col-3 {
    flex: 1;
    padding: 0 20px;
}

.customer-services i {
    font-size: 3rem;
    color:#f3614e ;
    margin-bottom: 20px;
}

.customer-services h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.customer-services p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}